
<footer style="background-color: grey; text-align: center;">
        &copy; Derechos Reservados <br>
        Nezahualtcoyotl, Edo de Mexico <br>
        2023

        <table style="margin-left: auto; margin-right: auto;">
        <a href="https://www.twitter.com" style=""> twitter</a>
        </table>
    </footer>