<div class="container p-4">
    <div class="row">
        <form method="post" action="/categorias/add">
        <div class="col-mb-3">
            <label for="nombre" class="form-label">NOMBRE CATEGORIA</label>
            <input type="text" class="form-control" name="nombre" placeholder="Nombre categoria" autofocus>
        </div>
         <div class="col-mb-3">
            <label for="descripcion" class="form-label">DESCRIPCION</label>
            <textarea class= "form-control" name="descripcion" rows="3" ></textarea> 
            
            </div>

<div class="col-mb-3">
    <br>
    <button class="btn btn-success">Agregar</button>
    
</div>

        </form>
    </div>
</div>