  <div class="container-fluid">
        <div class="card text-center">
            <div class="card-header">
              Lista de categorias.
            </div>
            <div class="card-body">
                <a class="btn btn-primary" href="add"role="button"><i class="fas fa-file" aria-hidden="true>"></i>NUEVA</a>
                <hr>

                <table class="table table-striped table-hover table-bordered">
                    <thead>
                      <tr>
                        <th scope="col"> No</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col"> Operaciones </th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each categorias}}
                      <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{nombre}}</td>
                        <td>{{descripcion}}</td>
                      
            
                        <td>  <a class="btn btn-primary" href="#" role="button"><i class="fas fa-pencil"></i>EDITAR</a>  <a class="btn btn-primary" href="/categorias/eliminar/{{id}}" role="button"><i class="fas fa-trash"></i>Eliminar</a></td>            
                      </tr>

                      {{/each}}


                      
                    </tbody>
                  </table>


            </div>
            <div class="card-footer text-muted">
              Total de registros: 3.
            </div>
          </div>
    </div>
